---
title: "Kuna Namna"
layout: default
description: "Karibu Kuna Namna."
description: "KunaNamna."
---
<section class="mt-4 mb-5">
 
<div class="container-fluid" style="padding-right: 1.6rem; padding-left: 1rem;">
 <!-- homepage banner-->  
 <div class="thecontainer">
  <a href="">
    <img src="assets/images/TheGrow.png" class="img-fluid object-fit-cover" alt="Micro Laptops" >
  </a>
</div>
</div>
 
  <!--Service1-->
  <ul class="featuredparent-container" style="display: flex; flex-wrap: wrap; padding: 0px 25px;">
   <div>
    <img src="assets/images/whatsaaa.png" class="img-fluid object-fit-cover" alt="Kuna Namna" >
   </div>
   <div>
    <img src="assets/images/Organizational.png" class="img-fluid object-fit-cover" alt="Kuna Namna" >
   </div>
   <div>
    <img src="assets/images/CompanyWeb.png" class="img-fluid object-fit-cover" alt="Kuna Namna" >
   </div>
   <div>
    <img src="assets/images/Portfolio.png" class="img-fluid object-fit-cover" alt="Kuna Namna" >
   </div>
  </ul>
 
<!-- featured section -->
<ul class="featured-title" style="text-align:left; padding: 0px 25px;">
    <h1 style="color:dark; font-size:30px;">featured laptops</h1>
</ul>
<ul class="featuredparent-container" style="display: flex; flex-wrap: wrap; padding: 0px 25px;">
{% for category in site.categories %}
    {% if category[0] == "featured" %}
            {% assign pages_list = category[1] %}
            {% for post in pages_list %}
              {% if post.title != null %}
                  <div style="flex: 1 0 0px;">
                      {% include card-post.html %}
                  </div>
              {% endif %}
            {% endfor %}
            {% assign pages_list = nil %}
        {% endif %}
{% endfor %}
</ul>
  
</div>    
 
</section>
